<div class="work-work" [ngClass]="rootClassName">
  <img
    alt='&lt;a href="https://www.freepik.com/free-vector/coming-soon-banner-with-focus-lights_18505062.htm#query=website%20coming%20soon&amp;position=26&amp;from_view=keyword&amp;track=ais"&gt;Image by starline&lt;/a&gt; on Freepik'
    [attr.src]="Image"
    class="work-image"
  />
  <div class="work-details">
    <div class="work-header">
      <div class="work-heading">
        <span class="work-text">{{ Coming }}</span>
        <app-link></app-link>
      </div>
      <span class="work-text1">{{ Description }}</span>
    </div>
    <div class="work-tags"></div>
  </div>
</div>
