<div class="blog-post-card21-blog-post-card" [ngClass]="rootClassName">
  <img
    [attr.alt]="image_alt"
    [attr.src]="image_src"
    image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
    class="blog-post-card21-image"
  />
  <div class="blog-post-card21-container">
    <div class="blog-post-card21-container1">
      <span class="blog-post-card21-text">{{ label }}</span>
      <span class="blog-post-card21-text1">{{ when }}</span>
    </div>
    <h1 class="blog-post-card21-text2">{{ title }}</h1>
    <span class="blog-post-card21-text3">{{ description }}</span>
    <div class="blog-post-card21-container2">
      <div class="blog-post-card21-profile"></div>
    </div>
  </div>
</div>
