<nav class="navigation-links2-nav" [ngClass]="rootClassName">
  <a routerLink="/" class="navigation-links2-navlink">{{ text }}</a>
  <a routerLink="/events" class="navigation-links2-navlink1">{{ text1 }}</a>
  <a routerLink="/about" class="navigation-links2-navlink2">{{ text2 }}</a>
  <a href="mailto:dclawclub@gmail.com?subject=" class="navigation-links2-link">
    {{ text3 }}
  </a>
  <a
    href="https://docs.google.com/forms/d/e/1FAIpQLScreKRdzOAeDaezgDWrkc1sBkGZwJJRqC6agXsZ8AJNVf6dzw/viewform?usp=sf_link"
    target="_blank"
    rel="noreferrer noopener"
    class="navigation-links2-link1"
  >
    {{ text4 }}
  </a>
</nav>
