<div class="home-container">
  <div class="home-navbar">
    <header data-thq="thq-navbar" class="home-navbar-interactive">
      <div class="home-branding">
        <img
          alt="image"
          src="/assets/external/bcsuzr01.svg"
          class="home-image"
        />
        <span class="home-company">Dawson Law Club</span>
      </div>
      <div class="home-items">
        <div class="home-links">
          <a routerLink="/events" class="home-navlink nav-link">Events</a>
          <a routerLink="/team" class="home-navlink1 nav-link">Team</a>
          <a routerLink="/about" class="home-navlink2 nav-link">About</a>
          <a
            href="mailto:dclawclub@gmail.com?subject="
            class="home-link nav-link"
          >
            Contact
          </a>
        </div>
        <button class="home-button start-button button">
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLScreKRdzOAeDaezgDWrkc1sBkGZwJJRqC6agXsZ8AJNVf6dzw/viewform"
            target="_blank"
            rel="noreferrer noopener"
            class="home-link1"
          >
            Join
          </a>
        </button>
      </div>
      <div data-thq="thq-burger-menu" class="home-burger-menu">
        <button class="home-button1 button">
          <img alt="image" src="/assets/hamburger.svg" class="home-image1" />
          <span class="home-text">Start a project</span>
        </button>
      </div>
      <div data-thq="thq-mobile-menu" class="home-mobile-menu">
        <div data-thq="thq-mobile-menu-nav" data-role="Nav" class="home-nav">
          <div class="home-top">
            <div class="home-branding1"></div>
            <div data-thq="thq-close-menu" class="home-menu-close">
              <svg viewBox="0 0 1024 1024" class="home-icon">
                <path
                  d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                ></path>
              </svg>
            </div>
          </div>
          <div class="home-items1">
            <div class="home-links1">
              <a routerLink="/events" class="home-navlink3 nav-link">Events</a>
              <a routerLink="/team" class="home-navlink4 nav-link">Team</a>
              <a routerLink="/about" class="home-navlink5 nav-link">About</a>
              <a
                href="mailto:dclawclub@gmail.com?subject="
                class="home-link2 nav-link"
              >
                Contact
              </a>
            </div>
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLScreKRdzOAeDaezgDWrkc1sBkGZwJJRqC6agXsZ8AJNVf6dzw/viewform?usp=sf_link"
              target="_blank"
              rel="noreferrer noopener"
              class="home-link3 start-button button"
            >
              <span class="home-text01">Become a Member</span>
            </a>
          </div>
        </div>
      </div>
    </header>
  </div>
  <header class="home-hero">
    <div class="home-header">
      <h1 class="home-title">Welcome to the Law club!</h1>
      <p class="home-description">
        A club for all Dawson students, in all programs. Join us as we dive into
        a world of endless possibilities and learning! 
      </p>
    </div>
  </header>
  <div class="home-about">
    <div class="home-header1">
      <h2 class="home-company1">Weekly Bulletin</h2>
    </div>
    <div class="home-statistics">
      <button class="home-button2 start-button button">
        <a
          href="https://docs.google.com/document/d/e/2PACX-1vRtxpYTOXUUPqh9sRNriPeG5JhIB-izbNJIjptNoV1Zt-Owte0Wssv45RjwN4HzaLUduzyyOPu-Bpuq/pub"
          target="_blank"
          rel="noreferrer noopener"
          class="home-link4"
        >
          Open Bulletin
        </a>
      </button>
      <div class="home-statistic-list"></div>
    </div>
    <div class="home-client-list"></div>
  </div>
  <div class="home-video"></div>
  <h2 class="home-title1 heading">
    <br />
    <span>events</span>
  </h2>
  <div class="home-container01">
    <div class="home-blog">
      <div class="home-container02">
        <div class="home-blog-post-card">
          <img
            alt="image"
            src="https://images.unsplash.com/photo-1514306191717-452ec28c7814?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDF8fHJlZCUyMGN1cnRhaW5zfGVufDB8fHx8MTY5MTY1MzkyNHww&amp;ixlib=rb-4.0.3&amp;w=1500"
            class="home-image2"
          />
          <div class="home-container03">
            <span class="home-text04">Event</span>
            <span class="home-text05">About: ...</span>
            <span class="home-text06">Description</span>
          </div>
        </div>
        <div class="home-blog-post-card1">
          <a routerLink="/events" class="home-navlink6">
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1514306191717-452ec28c7814?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDF8fHJlZCUyMGN1cnRhaW5zfGVufDB8fHx8MTY5MTY1MzkyNHww&amp;ixlib=rb-4.0.3&amp;w=1500"
              class="home-image3"
            />
          </a>
          <div class="home-container04">
            <span class="home-text07">Event</span>
            <span class="home-text08">About: ...</span>
            <span class="home-text09">Description</span>
          </div>
        </div>
        <div class="home-blog-post-card2">
          <img
            alt="image"
            src="https://images.unsplash.com/photo-1514306191717-452ec28c7814?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDF8fHJlZCUyMGN1cnRhaW5zfGVufDB8fHx8MTY5MTY1MzkyNHww&amp;ixlib=rb-4.0.3&amp;w=1500"
            class="home-image4"
          />
          <div class="home-container05">
            <span class="home-text10">Event</span>
            <span class="home-text11">About: ...</span>
            <span class="home-text12">Description</span>
          </div>
        </div>
      </div>
      <div class="home-container06"></div>
      <div class="home-container07"></div>
    </div>
  </div>
  <div class="home-container08">
    <div class="home-client">
      <p class="home-text13">Want to learn more about the team? Click here!</p>
      <a routerLink="/team" class="home-navlink7 start-button button">
        <span class="home-text14">Team</span>
      </a>
    </div>
  </div>
  <h2 class="home-title2 heading">Club calendar</h2>
  <div class="home-container09">
    <iframe
      src='https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FToronto&amp;showTz=0&amp;showTitle=0&amp;src=ZGNsYXdjbHViQGdtYWlsLmNvbQ&amp;color=%23039BE5" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"'
      class="home-iframe"
    ></iframe>
    <div class="home-container10"></div>
  </div>
  <div class="home-client1">
    <p class="home-text15">
      The calendar changes the moment we add information into it!
    </p>
  </div>
  <footer class="home-footer">
    <div class="home-information">
      <div class="home-details">
        <div class="home-header2">
          <div class="home-branding2">
            <span class="home-company2">Dawson Law club</span>
          </div>
          <div class="home-location">
            <span class="home-value">Contact us to learn more!</span>
          </div>
        </div>
        <div class="home-location1">
          <span class="home-caption">Gmail</span>
          <span class="home-value1">Dclawclub@gmail.com</span>
        </div>
        <a
          href="mailto:dclawclub@gmail.com?subject="
          class="home-link5 start-button button"
        >
          <span class="home-text16">Contact</span>
        </a>
      </div>
      <div class="home-links2">
        <a
          href="https://www.instagram.com/dclawclub/"
          target="_blank"
          rel="noreferrer noopener"
          class="home-social social"
        >
          Instagram
        </a>
        <a
          href="https://linktr.ee/dclawclub"
          target="_blank"
          rel="noreferrer noopener"
          class="home-social1 social"
        >
          LinkTree
        </a>
      </div>
    </div>
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1589216532372-1c2a367900d9?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDl8fGxhd3xlbnwwfHx8fDE2OTE2MTg4NzV8MA&amp;ixlib=rb-4.0.3&amp;w=500"
      class="home-image5"
    />
  </footer>
  <div data-thq="thq-dropdown" class="home-thq-dropdown list-item">
    <ul data-thq="thq-dropdown-list" class="home-dropdown-list">
      <li data-thq="thq-dropdown" class="home-dropdown list-item">
        <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle">
          <span class="home-text17">Sub-menu Item</span>
        </div>
      </li>
      <li data-thq="thq-dropdown" class="home-dropdown1 list-item">
        <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle1">
          <span class="home-text18">Sub-menu Item</span>
        </div>
      </li>
      <li data-thq="thq-dropdown" class="home-dropdown2 list-item">
        <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle2">
          <span class="home-text19">Sub-menu Item</span>
        </div>
      </li>
    </ul>
  </div>
</div>
